<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Lastname1:</b>
  <%= @person.lastname1 %>
</p>

<p>
  <b>Lastname2:</b>
  <%= @person.lastname2 %>
</p>

<p>
  <b>Gender:</b>
  <%= @person.gender %>
</p>

<p>
  <b>Document:</b>
  <%= @person.document_id %>
</p>

<p>
  <b>Address:</b>
  <%= @person.address %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @person.birthdate %>
</p>

<p>
  <b>Phone number:</b>
  <%= @person.phone_number %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
