<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :number_participants %><br />
    <%= f.text_field :number_participants %>
  </div>
  <div class="field">
    <%= f.label :date_event %><br />
    <%= f.date_select :date_event %>
<%= f.date_select :date_event, :as => :time_picker %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
