<div class="center hero-unit">
  <h3>Tournaments</h3>
  
<% @tournaments.each do |tournament| %>
<div class="well well-large">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <ul class="thumbnails">
        <li class="span10">
          <div class="thumbnail">
            <img <%= link_to image_tag(tournament.image) %>
          </div>
        </li>
      </ul>
    </div>
    <div class="span8">
      <fieldset>
    <legend><%= tournament.name %></legend>
    <h4>Place: <%= tournament.place.name %></h4>
    <label>Max Participants: <%= tournament.MaxParticipants %></label>
    <label>Participants: <%= tournament.number_participants %></label>
    <small>Date: <%= tournament.date_event.strftime("%d %b. %Y") %></small><br>
    <small>Time: <%= tournament.date_event.strftime("%H:%M") %></small>
    <p>
<%= link_to 'Show', tournament %>
    </p>
  </fieldset>
    </div>
  </div>
</div>

 </div>
 <br/>
<% end %>
</div>


