<div class="center hero-unit">
  <h3><%= @tournament.name %></h3>
  	<div class="well well-large">
		<div class="container-fluid">
		  <div class="row-fluid">
		  	<div class="span4">
		      <ul class="thumbnails">
		        <li class="span6">
		          <div class="thumbnail">
		            <img <%= link_to image_tag(@tournament.image) %>
		          </div>
		        </li>
		      </ul>      
    		</div>
    		<div class="span4">
		      <h4>Place: <%= @tournament.place.name %></h4><br>
		      <ul class="inline">
  				<li>Date : <%= @tournament.date_event.strftime("%d %b. %Y") %></li>
  				<li>Time : <%= @tournament.date_event.strftime("%H:%M") %></li>
			  </ul><br>
		      <strong>Max Participants: <%= @tournament.MaxParticipants %></strong><br>
		      <strong>Total Participants: <%= @tournament.number_participants %></strong><br>
		    </div>	
		  </div>
		</div>
	</div>
	<%= link_to 'View all Tournaments', tournaments_path %>
	<h4>Comments about this Tournament</h4>
	<div class="well well-large">
	<div class="container-fluid">
	<div class="row-fluid">
		<%= render "comments/form" %>
		<blockquote>
		<%= render @tournament.comments %>
		</blockquote>
	</div>
	</div>
	</div>
</div>

