<%= stylesheet_link_tag 'gmaps4rails' %>
<div class="center hero-unit">
  <h3>Place: <%= @place.name %></h3>
  <div class="well well-large">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5">
      <%= link_to 'Back to Places', places_path %><br><br>
      <ul class="thumbnails">
        <li class="span6">
          <div class="thumbnail">
            <img <%= link_to image_tag(@place.imagen) %>
          </div>
        </li>
      </ul>
      <address>
        <strong>Address: <%= @place.address %></strong><br>
        City: <%= @place.city %><br>
        Country: <%= @place.country %><br>
        <abbr title="Phone">Ph:</abbr> <%= @place.phone %>
      </address>
      
    </div>
    <div class="span6">
      <br><br>
      <strong>Available Tournaments: </strong><br>
      <ul>
        <% @place.tournaments.each do |tournament| %>
          <li><%= link_to tournament.name, tournament_path %></li>
      <% end %>
      </ul>
    </div>
</div>
<small>This Place on Google Maps</small>
<%= gmaps4rails(@json)%>
