<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.Name %>
</p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>Goolgemapsaddress:</b>
  <%= @place.goolgeMapsAddress %>
</p>

<p>
  <b>Phone:</b>
  <%= @place.phone %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
